<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v15.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v15.1.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v15.1.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v15.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGauges.v15.1.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v15.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraLayout.v15.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraPrinting.v15.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.5.0" newVersion="15.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v15.2" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v15.2.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v15.2.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v15.2" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGauges.v15.2.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v15.2" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraLayout.v15.2" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraPrinting.v15.2" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.4.0" newVersion="15.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v17.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v17.1.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Office.v17.1.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v17.1.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGauges.v17.1.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v17.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v17.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraLayout.v17.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraPrinting.v17.1" publicKeyToken="8f2823b07f50ed12" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.1.2.0" newVersion="17.1.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
